<!DOCTYPE html>
<html>
  <head>
    <title>Gamma Phi Beta | About</title>
  </head>
  <body>
   
    <p>
      	Gamma Phi Beta (ΓΦΒ) is an international sorority that was founded on November 11, 1874, at Syracuse University in Syracuse, New York.[2] The term "sorority," meaning sisterhood, was coined for Gamma Phi Beta by Dr. Frank Smalley, a professor at Syracuse University.
		The four founders are Helen M. Dodge, Frances E. Haven, E. Adeline Curtis and Mary A. Bingham. The sorority's international headquarters are located in Centennial, Colorado. Gamma Phi Beta currently has 180,000 initiated members, 173 chartered collegiate chapters and more than 175 alumnae groups across the United States and Canada. Gamma Phi Beta's primary objective is to inspire the highest type of womanhood.
    </p>
  </body>
</html>
