<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Gamma Phi Beta | Home </title>
<link rel="stylesheet" type="text/css" href="stylePage.css" media="screen" />
</head>


<body>


<div id="box1">
<h1>Upcoming Events:</h1>			
		
		<ul>
		<li>October 30, 2011	Presidential Election, Kyrgzstan</li>

		<li>November 2, 2011	Regional Conference on the Future of Afghanistan, Istanbul</li>
		<li>November 3, 2011	International Monetary Fund to Release Financial Stability Report</li>
		<li>November 3, 2011 - November 4, 2011	G20 Summit, Cannes, France</li>
	
		</ul>		 
	</div>








</body>

</html>
