<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
    <%= render 'shared/feed' %>
      </td>
	     <img src="images/group.jpg" align="right" alt="" height="320" width="425" />
	 <img src="images/founder.jpg" align="right" alt="" height="320" width="425" />
	
   
    </tr>
  </table>
<% else %>

	<img border="0" src="/images/crest.jpg"  align="middle"  alt="" width="115" height="150" />
  <h1>
	Gamma Phi Beta was founded November 11, 1874, at Syracuse University, in Syracuse, New York.

	</h1>

<p>
	<h1>Flower: Pink Carnation</h1>

	The carnation was named our official flower at Convention 1888. In 1950, members affirmed the color. Carnations have been revered for more than 2,000 years as one of the most longlasting flowers. Many varieties produce a clove-like scent, and the aroma is said to be both uplifting and motivating.
</p>
<p>
<h1>	Colors: Brown and Mode (dark and light brown) </h1>

	The Founders first selected dark and light blue, but after only a few months, they agreed to change the colors in honor of one of their mentors, Dr. John J. Brown. Brown allowed the women to utilize his study at Syracuse University for meetings. At Convention 1887, the decision was affirmed.
</p>
<p>
<h1>Symbol: Crescent Moon</h1>

	Founder Mary A. Bingham contributed the idea of a crescent as part of the badge design. The waxing crescent is a symbol of our ever-growing sisterhood.

	"We . . . must show growth in knowledge, wisdom, power, womanliness year by year or we are not living up to our chosen symbol." Sara Preston Finley (Minnesota-Twin Cities, 1912) 
</p>

<h1>Crest</h1>
<p>
	
	Our crest, or shield, was envisioned by Gertrude Comfort Morrow (California-Berkeley), the winner of a Sorority-wide design contest in 1915. At Convention 1927, delegates affirmed that the crest could only be worn by initiated members who were able to understand and appreciate the ideals within.
  </p>

<% end %>